<a href="https://colab.research.google.com/github/shallabhkhera/NPTEL-Data-Analytics-with-Python/blob/main/Week11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import scipy
from scipy.spatial import distance
import pandas as pd
from scipy.spatial import distance_matrix

#euclidean distance

import numpy as np
a = [1,2,3]
b = [4,5,6]
dst = distance.euclidean(a,b)

In [7]:
dst

5.196152422706632

In [8]:
print(distance.minkowski(a,b,1))

9.0

In [9]:
print(distance.minkowski(a,b,2))

5.196152422706632

In [10]:
#dissimality matrix
data = [[1,4],[2,5],[3,6]]
df = pd.DataFrame(data, columns = ['a','b'])
df

   a  b
0  1  4
1  2  5
2  3  6

In [11]:
pd.DataFrame(distance_matrix(df.values, df.values))

          0         1         2
0  0.000000  1.414214  2.828427
1  1.414214  0.000000  1.414214
2  2.828427  1.414214  0.000000