<a href="https://colab.research.google.com/github/shallabhkhera/NPTEL-Data-Analytics-with-Python/blob/main/Week9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from scipy.optimize import minimize
import scipy.stats as stats
from statsmodels.formula.api import ols
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn import linear_model

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
url1 = 'https://github.com/shallabhkhera/NPTEL-Data-Analytics-with-Python/blob/main/Simmons.xls?raw=true'
df = pd.read_excel(url1)
df.describe()

         Customer    Spending        Card      Coupon
count  100.000000  100.000000  100.000000  100.000000
mean    50.500000    3.333790    0.500000    0.400000
std     29.011492    1.741298    0.502519    0.492366
min      1.000000    1.058000    0.000000    0.000000
25%     25.750000    2.059000    0.000000    0.000000
50%     50.500000    2.805500    0.500000    0.000000
75%     75.250000    4.468250    1.000000    1.000000
max    100.000000    7.076000    1.000000    1.000000